{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .container {
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
        background-color: #abc7e5;
        padding: 20px;
        margin-left: 90px;
    }

    h2 {
        text-align: center;
        color: black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        background-color: #cddef0;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        white-space: nowrap;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<!-- Filter Form -->
<form method="GET" action="#" style="margin-top: 5%; margin-left: 10px;">
    <div class="input-group">
        <select class="form-select" name="filter_option">
            <option value="">Select Filter Option</option>
            <option value="specific_person">Specific Person</option>
            <option value="males_only">Males Only</option>
            <!-- Add more options as needed -->
        </select>
        <button class="btn btn-outline-secondary" type="submit">Apply Filter</button>
    </div>
</form>

<!-- Add Baby Button -->
<a href="{% url 'babie' %}" class="btn mb-3"
    style="background-color: #5679C0; color: white; margin-left: 20px; margin-bottom: 10px;">Add Baby</a>

<div class="container">

    <h2>List of registered Babies</h2>

    <table class="table table-striped">
        <!-- Inside the table -->
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Baby No</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
                <th scope="col">Period of Stay</th>
                <th scope="col">Parent Name</th>
                <th scope="col">Brought By</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for baby in baby_list %}
            <tr>
                <th scope="row">{{ baby.id }}</th>
                <td>B{{ baby.Baby_No }}</td>
                <td>{{ baby.Baby_Name }}</td>
                <td>{{ baby.Gender }}</td>
                <td>{{ baby.Age }}</td>
                <td>{{ baby.Location }}</td>
                <td>{{ baby.Period_of_stay }}</td>
                <td>{{ baby.Parent_name }}</td>
                <td>{{ baby.Brought_by }}</td>
                <td>{{ baby.Arrival_Time }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-success mr-1" style="background-color: #5679C0;"
                            data-bs-toggle="modal" data-bs-target="#myModal{{ baby.id }}">
                            <i class="fa-solid fa-circle-info fa-lg"></i>
                        </a>

                        <!-- Information Modal -->
                        <div class="modal fade" id="myModal{{ baby.id }}" tabindex="-1" aria-labelledby="myModallabel1"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Baby Information</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-unstyled">
                                            <li>Baby No: <strong>{{ baby.Baby_No }}</strong></li>
                                            <li>Name: <strong>{{ baby.Name }}</strong></li>
                                            <li>Gender: <strong>{{ baby.Gender }}</strong></li>
                                            <li>Period of Stay: <strong>{{ baby.Period_of_stay }}</strong></li>
                                            <li>Age: <strong>{{ baby.Age }}</strong></li>
                                            <li>Parent_name: <strong>{{ baby.Parent_name }}</strong></li>
                                            <li>Arrival_Time: <strong>{{ baby.Arrival_Time }}</strong></li>
                                            <li>Brought_by: <strong>{{ baby.Brought_by }}</strong></li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'edit_baby' baby.id %}" class="btn btn-warning mr-1"
                            style="background-color: #5679C0;">
                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>

                        <button type="button" class="btn btn-danger" style="background-color: #5679C0;"
                            data-bs-toggle="modal" data-bs-target="#deleteModal{{ baby.id }}">
                            <i class="fa-solid fa-trash fa-lg"></i>
                        </button>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal{{ baby.id }}" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete the baby "{{ baby.Name }}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form method="post" action="{% url 'delete_baby' baby.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}