{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>

  body{
    overflow-x: hidden;
  }
    /* Add your custom styles here */
    .container {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #cddef0;
        margin-top: 0;
        margin-right: 70%;
        margin: auto;
        color: black;
    }

    .form-container {
        background-color: #abc7e5;
        width: 70%;
        border-radius: 20px;
        padding: 20px;
        margin-right: 50%;
        margin-top: 50px;
        
    }

    .form-container h2 {
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        font-style: inter;
        margin-top: 10px;
        color: black;
    }

    .babe-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .babe-form label {
        font-weight: bold;
    }

    .babe-form .arrival_date {
        grid-column: span 2;  /* Span both columns */
    }

    .babe-form button {
        width: 60%;
        height: 60%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #658ecc;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-left: 8px;
        margin-top: 20px;
    }

    .submit-container {
        grid-column: span 2; /* Span both columns */
        text-align: center;
    }

    .alert {
        position: fixed;
        top: 70px; /* Adjust this value to increase margin-top */
        right: 20px;
        z-index: 1000;
        opacity: 0; /* Initially hide the alert */
        transition: opacity 0.5s ease; /* Add transition effect */
    }

    .alert.show {
        opacity: 1; /* Show the alert when it has the 'show' class */
    }

    .alert-warning {
        background-color: #658ecc;
        color: white;
        border-color: #658ecc;
    }

    .alert-dismissible {
        padding-right: 2.5rem;
    }

    .alert button.close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        background-color: transparent;
        border: 0;
        color: inherit;
        transition: transform 0.3s ease;
    }

    .alert button.close:hover {
        transform: scale(1.2);
    }
</style>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #0E98E7;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="form" style=" margin-left: 200px; margin-top: 5px;">
    <div class="form-container">
        <h2>BABIES REGISTRATION</h2>
        <hr>
        <div class="container">
            <form action="" method="POST" class="babe-form">
                {% csrf_token %}
            
                {{ getbabieform | crispy }}
                
                    <button type="submit">Submit</button>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
