{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  body {

    overflow-x: hidden;
  }

  .container {
    padding-top: 20px;
    margin-top: 10px;
    width: calc(100% - 250px);
    padding: 20px;
    margin-left: 2px;
    margin-right: 20px;
    background-color: #f8f9fa;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #cddef0;
  }

  h2 {
    text-align: center;
    color: black;
    margin-top: 50px;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    width: auto;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .btn-issue {
    background-color: #5679C0;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
  }

  .btn-issue:hover {
    background-color: #3e6aae;
  }

  .btn-issue a {
    color: white;
    text-decoration: none;
  }

  .btn-issue a:hover {
    text-decoration: underline;
  }
  .frame th{
    background-color: #cddef0;
    font-weight: bold;
  }
</style>
<h2>Items in Stock</h2>

<!-- Filter Form
<form method="GET" action="#" class="mb-3">
  <div class="input-group" style="margin-left: 40px; width: 80%; margin-bottom: 10px;">
    <select class="form-select" name="filter_option">
      <option value="">Select..</option>
      <option value="specific_person">Females</option>
      <option value="males_only">Males Males</option>
    </select>
    <button class="btn btn-outline-secondary" type="submit">Apply Filter</button>
  </div>
</form> -->

<!-- Sitter Button -->
<a href="{% url 'procurement' %}" class="btn  mb-3"
  style="margin-left: 40px; background-color: #658ecc; color: white;">Add Item</a>

<div class="container">
  <table class="table table-striped">
    <thead class="frame">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item name</th>
        <th scope="col">Quantity in stock</th>
        <th scope="col">Total amount</th>
        <th scope="col">Date of purchase</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in item_list %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.Total_amount }}</td>
        <td>{{ item.Date_of_purchase }}</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn-issue mr-1" style="background-color: #5679C0;">
              <a href="{% url 'issue_out' pk=item.id %}">Issue Out</a>
            </button>

            <button type="button" class="btn-issue mr-1" style="background-color: #5679C0; color: white">
              <a href="{% url 'issue_in' pk=item.id %}" style="color: white;">Issue In</a>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}