{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<script>
    window.onload = function () {
        document.getElementById("form").value = 0
        document.getElementById("exampleCheck1").addEventListener("change", calculateamountdue)
        document.getElementById("exampleCheck2").addEventListener("change", calculateamountdue)
        document.getElementById("exampleCheck3").addEventListener("change", calculateamountdue)
        document.getElementById("form1").addEventListener("input", calculateamountdue)
    }

    function calculateamountdue() {
        var halfday = document.getElementById("exampleCheck2").checked
        var fullday = document.getElementById("exampleCheck1").checked
        var monthly = document.getElementById("exampleCheck3").checked
        var amount = 0
        if (halfday == true) {
            amount = 10000
        }
        if (fullday == true) {
            amount = 15000
        }
        if (monthly == true) {
            amount = amount * 30
        }
        document.getElementById("form").value = amount
        var paid = document.getElementById("form1").value
        console.log(document.getElementById("form1").value)
        var due = amount - paid
        document.getElementById("form2").value = due
    }
</script>
<style>
    body {
        overflow-x: hidden;
    }

    /* Add your custom styles here */
    .container {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        background-color: #cddef0;
        color: black;
        margin-top: 20px;
    }

    .form-container {
        /* background-color: #abc7e5; */
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        margin: auto; /* Center the form horizontally */
        display: flex;
        justify-content: center; /* Center the form horizontally */
        margin-top: 40px;
    }

    .form-container h2 {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        color: black;
    }

    .babe-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-left: 30%;
        /* margin: auto; */
    }

    .babe-form label {
        font-weight: bold;
    }

    .babe-form button {
        grid-column: span 2;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #5679c0;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .form-check-group {
        display: flex;
    }

    .form-check {
        margin-right: 20px;
    }

    .form-check input[type="checkbox"] {
        margin-right: 5px;
    }

    .form-check-label {
        font-weight: normal;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .alert {
        position: fixed;
        top: 70px;
        right: 20px;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .alert.show {
        opacity: 1;
    }

    .alert-warning {
        background-color: #658ecc;
        color: white;
        border-color: #658ecc;
    }

    .alert-dismissible {
        padding-right: 2.5rem;
    }

    .alert button.close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        background-color: transparent;
        border: 0;
        color: inherit;
        transition: transform 0.3s ease;
    }

    .alert button.close:hover {
        transform: scale(1.2);
    }

</style>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert"
    style="background-color: #0e98e7;">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="babe-form">
    <div class="form-container">
        <div class="container">
            <h2>BABIE PAYMENT</h2>
            <form method="POST" action="/payment_baby/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Payment Date</label>
                    <input type="date" name="date" class="form-control" id="exampleInputPassword1"
                        placeholder="Date">
                </div>
                <div class="form-group">
                    <label>Payment Option:</label>
                    <div class="form-check-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Full day</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck2">Half day</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                            <label class="form-check-label" for="exampleCheck3">Monthly</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form">Total Amount Due</label>
                    <input type="text" name="total_amount" class="form-control" id="form">
                </div>
                <div class="form-group">
                    <label for="form1">Amount Paid</label>
                    <input type="text" name="amount_paid" class="form-control" id="form1">
                </div>
                <div class="form-group">
                    <label for="form2">Remaining Balance</label>
                    <input type="text" name="remaining_balance" class="form-control" id="form2">
                </div>
                <br>
                <button type="submit" class="btn  ">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
