{% block content %}


<style>
    .container {
        padding-top: 20px;
        margin-top: 20px;
        width: 90%;
        background-color: rgba(3, 1, 70, 0.55);
        padding: 20px;
        margin-left: 100px;

    }

    h2 {
        text-align: center;
    }
</style>


<h2>List of Registered Babies</h2>

<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="filter">Filter:</label>
            <input type="text" class="form-control" id="filter" name="filter">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
        <a href="{% url 'baby_list' %}" class="btn btn-secondary">Clear Filter</a>
        <input type="text" name="query" required minlength="3" placeholder="Search Student"
            class="p-2 rounded-lg border w-full">
        <button class="p-2 bg-black text-white rounded-lg" type="submit"> Search </button>
    </form>

    <a href="#" class="p-2 bg-green-500 text-white rounded-lg shadow-lg"> Go Back </a>
    <p class="text-sm text-gray-500 p-2"> {{ result_count }} Results </p>

    <br>

    <table class="table table-striped" style="width: 90%; margin-left: 20px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Baby No</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Period of Stay</th>
                <th scope="col">Fee</th>
                <th scope="col">Parent Name</th>
                <th scope="col">Person Bringing the baby</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for babie in view_baby %}
            <tr>
                <th scope="row">{{ babie.id }}</th>
                <td>{{ babie.Baby_No }}</td>
                <td>{{ babie.Name }}</td>
                <td>{{ babie.Gender }}</td>
                <td>{{ babie.Age }}</td>
                <td>{{ babie.Location }}</td>
                <td>{{ babie.Arrival_Time }}</td>
                <td>{{ babie.Fee }}</td>
                <td>{{ babie.Period_of_stay }}</td>
                <td>{{ babie.Parent_name }}</td>
                <td>{{ babie.Person_bringing_the_babe }}</td>

                <td>
                        <div class="d-flex justify-content-start">
                            <a href="{% url 'edit_baby' babie.id %}" class="btn btn-sm btn-warning">Edit</a>
                        </div>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}